<template>
  <Layout>
    <header class="head">
      <h1 class="title analyser">Seed <span>Analyser</span></h1>
      <a href="/" class="button analyser">Back</a>
    </header>
    <main v-if="!error" class="columns">
      <article class="column-6">
        <h4 class="label">Type</h4>
        <div v-if="loading" class="loading"></div>
        <ul v-else class="blocks categories">
          <li class="token" v-for="(quantity, name, i) in type" :class="`hover-${name.toLowerCase()}`" :key="i">
            <h3 :class="name.toLowerCase()">{{ name }}</h3>
            <p class="token__infos">
              <span>{{ quantity }}</span>
              <span class="itens">{{ probability(quantity) }}</span>
            </p>
          </li>
        </ul>
      </article>
      <article class="column-4">
        <h4 class="label">Rarity</h4>
        <div v-if="loading" class="loading"></div>
        <ul v-else class="blocks categories two">
          <li class="token" v-for="(quantity, name, i) in rarity" :key="i">
            <h3 :class="name.toLowerCase()">{{ name }}</h3>
            <p class="token__infos">
              <span>{{ quantity }}</span>
              <span class="itens">{{ probability(quantity) }}</span>
            </p>
          </li>
        </ul>
        <h4 class="label">Category</h4>
        <div v-if="loading" class="loading"></div>
        <ul v-else class="blocks categories two">
          <li class="token" v-for="(quantity, name, i) in category" :key="i">
            <h3 :class="name.toLowerCase()">{{ name }}</h3>
            <p class="token__infos">
              <span>{{ quantity }}</span>
              <span class="itens">{{ probability(quantity) }}</span>
            </p>
          </li>
        </ul>
      </article>
    </main>
    <div class="error" v-else>
      <h2 class="error__title">Ooops...</h2>
      <p>Plants data is not available on BSC Scan.</p>
      <p>You can see more details below.</p>
      <a href="https://bscscan.com/readContract?&a=0x5ab19e7091dd208f352f8e727b6dcc6f8abb6275#readHeading15" target="_blank">0x5ab19e7091dd208f352f8e727b6dcc6f8abb6275</a>
    </div>
    <p v-if="!loading" class="center categories__total"><span>Avaliable</span> Plants: <strong>{{ plants.length }}</strong></p>
  </Layout>
</template>

<script>
import Layout from '@/layouts/Main'
//import fake from '@/plants.json'

export default {
  name: 'Analyser',
  components: {
    Layout
  },
  data: () => ({
    error: false,
    loading: true,
    plants: [],
    type: {},
    rarity: {},
    category: {}
  }),
  methods: {
    getIDs() {
      this.loading = true  
      this.axios.get(`https://wallaceerick.com.br/clientes/pvu/api`) // http://localhost/testes/crypto-wallet/api
        .then((response) => {
          this.plants = response.data.split(',')
          this.getPlants(this.plants)
        })
        .catch(() => {
          this.error = true
          throw new Error('BSC Scan is unavailable')
        })
    },
    getPlants(plants) { 
      let 
        rarities = [],
        types = [],
        categories = []
      
      for (let i = 0; i < plants.length; i++) { 
        let plant = this.splitPlantID(plants[i])
        
        console.log(`${i + 1}. Plant: ${plants[i]}, ID: ${plant.id}, Image: ${plant.img}, Type: ${plant.type} / ${this.getType(plant.type)}, Rarity: ${plant.rarity} / ${this.getRarity(plant.rarity)}`) 
        
        types.push(this.getType(plant.type))
        this.type = this.combineValues(types)

        rarities.push(this.getRarity(plant.rarity))
        this.rarity = this.combineValues(rarities)

        categories.push(this.getID(plant.id))
        this.category = this.combineValues(categories)
      }
      
      this.loading = false 
    },
    probability(q){
      let 
        t = this.plants.length,
        result = (q / t) * 100

      return result.toFixed(1) + '%'
    },
  },
  created() {
    //this.getPlants(fake)
    this.getIDs()
  }
}
</script> 