<template>
  <Layout>
    <nav class="blocks">
      <a v-for="(r, i) in projects" class="blocks__item item" :class="type(r)" :href="url(r)" :key="i">
        <div class="blocks__overlay">
          <h2 class="title blocks__name" :class="type(r)" v-html="r.name"></h2>
          <p>{{ r.description }}</p>
        </div>
      </a>
      <a href="#" class="hidden"></a>
    </nav>
  </Layout>
</template>

<script>
import Layout from '@/layouts/Main'
import Projects from '@/router/projects'

export default {
  name: 'Lookup',
  components: {
    Layout
  },
  methods: {
    type(r){
      return r ? r.path.replace('/', '') : ''
    },
    url(r){
      return r.status ? r.path : '#'
    }
  },
	computed: {
		projects() {
			return Projects
		}
	}
}
</script> 