<template>
  <Layout>
    <header class="head">
      <h1 class="title lookup">Plant <span>Lookup</span></h1>
      <a href="/" class="button lookup">Back</a>
    </header>
    <section class="plant-lookup">
      <span>
        <p>Copy your plant ID on PVU and paste it here.</p>
        <span class="plant-lookup__form">
          <input class="input" type="text" maxlength="10" v-model="plant">
          <button class="button lookup-color" @click="discoveryPlant">Discovery</button>
        </span>
      </span>
      <span class="plant-lookup__details">
        <span class="plant-lookup__plant">
          <img :src="badge" class="plant-lookup__plant__badge" :alt="type">
          <img :src="image" class="plant-lookup__plant__image" :alt="rarity">
          <span class="plant-lookup__plant__rarity">
            <span>{{ rarity }}</span>
            <img :src="frame" width="150" alt="">
          </span>
        </span>
        <!-- <span class="plant-lookup__infos">
          <p>LE: 100/200</p>
          <a class="button" :href="`https://marketplace.plantvsundead.com/farm#/plant/${plant}`">View in Game</a>
        </span> -->
      </span>
    </section>
  </Layout>
</template>

<script>
import Layout from '@/layouts/Main'

export default {
  name: 'Lookup',
  components: {
    Layout
  },
  data(){
    return {
      plant: 2009039914, //1001512451
      rarity: null,
      type: null,
      image: null,
      badge: null,
      frame: null,
      le: null,
      time: null
    }
  },
  methods: {
    discoveryPlant(){
      let p = this.splitPlantID(this.plant)
      
      this.id = this.getID(p.id)
      this.rarity = this.getRarity(p.rarity)
      this.type = this.getType(p.type)
      this.image = this.getImage(p.type, p.img)
      this.badge = this.getBadge(this.type)
      this.frame = this.getFrame(this.rarity)

      console.log(this.id, this.rarity, this.type)
    } 
  },
  beforeMount(){
    this.discoveryPlant()
  }
}
</script> 