<template>
  <Layout>
    <div class="center">
        <h1>Under construction....</h1>
        <a href="/" class="button">Back</a>
    </div>
  </Layout>
</template>

<script>
import Layout from '@/layouts/Main'

export default {
  name: 'Prediction',
  components: {
    Layout
  }
}
</script> 