<template>
  <footer class="footer">
    <h2 class="title footer__title">This project <br><span>Helped</span> you?</h2>
    <p>Consider donating BNB to developers!</p>
    <a href="https://bscscan.com/address/0x5c4E97E5A651aA1eb16cbE617f51F184b9eD8247" class="footer__donate" target="_blank">0x5c4E97E5A651aA1eb16cbE617f51F184b9eD8247</a>
    <img src="@/assets/qrcode.png" alt="BNB Wallet" />
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>