<template>
  <header class="header">
    <h2 class="title footer__title">The Complete <br><span>Hub</span> for</h2>
    <img src="@/assets/logo.png" alt="Plant vs Undead" />
  </header>
</template>
<script>
export default {
  name: 'Header'
}
</script>