// Animations

.loading
    display: block
    width: 30px
    height: 30px
    border: 2px solid $white
    border-left-color: transparent
    bborder-radius: 100%
    opacity: 0.3
    border-radius: 100%
    margin: 40px 0
    animation: rotating 0.7s linear infinite

@keyframes rotating
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)