// Blocks

.title
    font-weight: $font-light
    line-height: 1
    @media screen and (max-width: 450px)
        font-size: 25px
    span
        font:
            size: 160%
            weight: $font-medium
        @media screen and (max-width: 450px)
            display: block
    &:after
        display: none
        background: $white
        content: ''
        height: 3px
        width: 40px
        margin: 10px 0 10px 1px 

.blocks
    // display: flex
    // justify-content: space-between
    // align-items: flex-start
    // flex-wrap: wrap
    //gap: 35px
    margin: 15px 0 50px
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    // grid-template-rows: 1.5fr 1.5fr 1.5fr
    gap: 0 35px
    grid-auto-rows: min-content
    grid-auto-flow: snippet
    //grid-template-areas: "block block block" "block block block"
    @media screen and (max-width: 767px)
        grid-template-columns: 1fr 1fr
        margin-bottom: 15px
    @media screen and (max-width: 450px)
        grid-template-columns: 1fr
    &.two
        grid-template-columns: 1fr 1fr
    &__name
        font-size: 22px
        &:after
            display: block
        span
            font:
                size: inherit
                weight: $font-light
    &__item
        // flex: 0 0 30%
        // margin: 0 20px
        border-radius: 10px
        background: $light-color
        transition: all 0.2s ease-out
        color: $white
        font-size: 14px
        line-height: 1.7
        margin-bottom: 35px
        @media screen and (max-width: 1024px)
            flex: 0 0 47%
        @media screen and (max-width: 767px)
            flex: 0 0 100%
    &__overlay
        margin: 4px
        padding: 20px
        border-radius: 10px
        background: $light-color
        min-height: 170px

.categories
    gap: 25px
    justify-content: flex-start
    // @media screen and (min-width: 767px)
    //     min-height: 165px
    &__total
        font:
            size: 20px
            weight: $font-light

.token
    // display: flex
    background: $light-color
    border-radius: 10px
    padding: 15px
    // width: 170px
    // margin-bottom: -2px
    // @media screen and (max-width: 767px)
    //     width: calc(50% - 15px)
    .itens
        opacity: 0.3
    &__infos 
        width: 100%
        display: flex
        justify-content: space-between

.plant-lookup
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 30px
    @media screen and (max-width: 767px)
        margin-top: 20px 
        flex-direction: column
    > span
        flex: 0 0 auto
    &__form
        @media screen and (max-width: 767px)
            display: flex
            margin: 0
    &__details
        display: flex
        justify-content: center
        align-items: center
        background: $light-color
        border-radius: 10px
        padding: 20px
        // min-width: 50%
        > span
            flex: 0 0 50%
    &__plant
        position: relative
        display: flex
        justify-content: center
        flex-direction: column
        // background: rgba(0, 0, 0, 0.1)
        margin: 0 20px
        border-radius: 10px
        padding: 35px 10px 10px
        min-width: 320px
        &__badge
            position: absolute
            top: 10px
            right: 10px
        &__image
            width: 150px
            margin: 0 auto
        &__rarity
            position: relative
            text-align: center
            margin: 20px 0 0 0
            span
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                text-transform: uppercase
                text-align: center
                padding: 6px 0 0 2px
                letter-spacing: 0.4em
                font:
                    size: 11px
                    weight: $font-medium
            img
                height: 25px
                width: auto