// Colors

// Type
.fire
    color: $fire

.dark
    color: $dark

.electro
    color: $electro

.ice
    color: $ice

.light
    color: $light

.parasite
    color: $parasite

.metal
    color: $metal

.water
    color: $water

.wind
    color: $wind

// Rarity
.common
    color: $common 
    
.uncommon
    color: $uncommon
    
.rare
    color: $rare

.mythic
    color: $mythic

.plant
    color: $plant

.mother
    color: $mother

.item.simulator:hover,
.title.simulator:after,
.button.simulator:hover,
.footer__donate
    background: linear-gradient(to right, #FFFF77 0%,#FFAC4A 100%)

.item.analyser:hover,
.title.analyser:after,
.button.analyser:hover
    background: linear-gradient(to right, #B8EE5B 0%,#A9EE32 100%)

.item.lookup:hover,
.title.lookup:after,
.button.lookup:hover,
.lookup-color
    background: linear-gradient(to right, #FD93FE 0%,#BC63D6 100%)

.item.prediction:hover,
.title.prediction:after,
.button.prediction:hover
    background: linear-gradient(to right, #E9576F 0%,#F6405E 100%)

.item.events:hover,
.title.events:after,
.button.events:hover
    background: linear-gradient(to right, #5b96ee 0%,#346cc0 100%)

.item.events,
.item.simulator,
.item.prediction,
.lock
    cursor: not-allowed
    opacity: 0.2