// Footer

.footer
    border-top: 1px solid $light-color
    margin-top: 50px
    padding: 50px 20px 
    text-align: center
    @media screen and (max-width: 767px)
        margin-top: 20px
        padding: 20px 0
    p 
        margin: 15px auto 50px
    img
        max-width: 150px
        display: block
        margin: 40px auto
    &__donate
        font-weight: $font-medium
        text-transform: uppercase
        //background: $light-color
        padding: 10px 20px 9px
        letter-spacing: 0.02em
        line-height: 1
        border-radius: 5px
        color: $dark-color
        @media screen and (max-width: 767px)
            font-size: 12px
        @media screen and (max-width: 500px)
            font-size: 9px
        //&:hover
            //color: $dark-color
            // background: lighten($light-color, 2%)
