// Global

.center
    text-align: center

.button,
.input
    background: $light-color
    display: inline-block
    color: $white
    border-radius: 5px
    padding: 10px 
    border: 1px solid rgba($white, 0.05)
    font:
        family: $base-font
        weight: $font-medium
        size: 18px


.button
    cursor: pointer
    padding: 10px 35px
    margin-top: 25px
    // &:hover
    //     color: $dark-color
    @media screen and (max-width: 450px)
        font-size: 14px
        padding: 10px 20px

.input
    padding: 11px 15px
    outline: none
    border-color: $light-color
    margin-right: 10px


.columns
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 35px

.column-6
    flex: 0 0 60%
    @media screen and (max-width: 1024px)
        flex: 0 0 100%
        margin-bottom: 35px

.column-4
    flex: 0 0 35%
    @media screen and (max-width: 1024px)
        flex: 0 0 100%

.error
    text-align: center
    background: $light-color
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    flex-wrap: wrap
    padding: 40px 20px
    margin: 10px auto
    max-width: 480px
    line-height: 1.5
    border-radius: 15px
    &__title
        font-size: 35px
        margin-bottom: 10px
    a
        display: block
        margin-top: 15px
        font-weight: $font-medium