// Footer

.header
    display: flex
    justify-content: center
    align-items: center
    text-align: right
    margin: 30px auto 60px
    @media screen and (max-width: 767px)
        margin-bottom: 30px
        .title
            font-size: 1em
    img
        width: 230px
        position: relative
        top: -15px
        margin-left: 10px
        @media screen and (max-width: 767px)
            width: 180px

.head
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid $light-color
    margin-bottom: 20px
    padding-bottom: 20px
    span
        font-size: 100%
    .title 
        &:after
            display: block
    .button
        margin-top: -5px

.label
    opacity: 0.4
    text-transform: uppercase
    font: 
        size: 14px
        weight: $font-regular