// Reset
    
*
  margin: 0
  padding: 0
  box-sizing: border-box

body, 
html
  background: $dark-color

body
  font:
    family: $base-font
    weight: $font-light
    size: 16px
  color: $white
  padding: 40px 60px
  @media screen and (max-width: 767px)
    padding: 20px

ul,
ol
  list-style: none

a
  text-decoration: none
  color: inherit